__pycache__
history/*.json
history/*/*.json
history/matrix_store/*
history/matrix_session.txt
history/images
.env
user.config.toml
characters/*
!characters/default.toml

*.user.config.toml
scripts/
overrides.json
logs/